*{
    margin: 0px;
    padding: 0px;
    background-color: #55423D;
}
/* hier begint de nav */
.nav-balk{
    height: 100px;
    width: 100%;
    background-color: #FFFFFE;
    display: flex;
    flex-direction: row;
}

.blok-logo{
    height: 100px;
    width: 20%;
    background-color: #FFFFFE;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.tekst{
    font-size: 50px;
    font-weight: bold;
    background-color: #FFFFFE;
    color: #271C19;
}

.blok-home{
    height: 100px;
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background-color: #FFFFFE;
}

.tekst2{
    font-size: 20px;
    font-weight: bold;
    background-color: #FFFFFE;
    padding-right: 20px;
    color: #271C19;
}

.blok-my-books{
    height: 100px;
    width: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background-color: #FFFFFE;
}

.blok-browse{
    height: 100px;
    width: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background-color: #FFFFFE;
}

.blok-zoeken{
    height: 100px;
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFE;
}

.balk{
    height: 80px;
    width: 65%;
    background-color: #FFF3EC;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 45px;
}

.tekst3{
    font-size: 20px;
    font-weight: bold;
    background-color: #FFF3EC;
    color: #FFFFFE;
}

.blok-inlog{
    height: 100px;
    width: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background-color: #FFFFFE;
}

.blok-links{
    height: 450px;
    width: 35%;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: flex-start
}

.row{
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.tekst4{
    font-size: 20px;
    font-weight: bold;
    color: #271C19;
}

.blok-boek{
    height: 200px;
    width: 100%;
    background-color: pink;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.boek-box{
    height: 150px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}